[Desktop Entry]
Type=Application
Name=Hold
GenericName=Archive Manager
Comment=Open and extract archives
Exec=hold %f
Icon=application-x-archive
Terminal=false
Categories=Utility;Archiving;
MimeType=application/zip;application/x-tar;application/gzip;application/x-7z-compressed;application/vnd.rar;application/x-bzip2;application/x-xz;
StartupNotify=true
