<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!--
  polkit actions for the GeST software module. Install as:
      /usr/share/polkit-1/actions/org.gentoo.gest.policy
  auth_admin_keep: prompt for an administrator password, then remember the
  authorization for a short while (so a batch of installs isn't a prompt each).
-->
<policyconfig>
  <vendor>GeST — Gentoo System Tool</vendor>
  <vendor_url>https://github.com/</vendor_url>

  <action id="org.gentoo.gest.software.install">
    <description>Install or upgrade software packages</description>
    <message>Authentication is required to install software with Portage</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/emerge</annotate>
  </action>

  <action id="org.gentoo.gest.software.remove">
    <description>Remove software packages</description>
    <message>Authentication is required to remove software with Portage</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.portage.configure">
    <description>Write Portage configuration files under /etc/portage</description>
    <message>Authentication is required to change Portage configuration</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.software.sync">
    <description>Synchronize the Portage tree</description>
    <message>Authentication is required to sync the Portage tree</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.software.news">
    <description>Mark Portage news items as read</description>
    <message>Authentication is required to mark Portage news read</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.system.configure">
    <description>Change system settings (hostname, timezone, locale)</description>
    <message>Authentication is required to change system settings</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.bootloader.manage">
    <description>Regenerate the bootloader configuration</description>
    <message>Authentication is required to regenerate the bootloader configuration</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.bootloader.install">
    <description>Install a bootloader</description>
    <message>Authentication is required to install a bootloader (grub-install)</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.kernel.build">
    <description>Build a kernel</description>
    <message>Authentication is required to build and install a kernel</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.eselect.manage">
    <description>Change eselect selections</description>
    <message>Authentication is required to change an eselect selection</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.network.manage">
    <description>Manage network interfaces</description>
    <message>Authentication is required to bring network interfaces up or down</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.users.manage">
    <description>Manage user accounts and groups</description>
    <message>Authentication is required to manage users and groups</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.services.manage">
    <description>Manage system services</description>
    <message>Authentication is required to start, stop or enable services</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.disk.manage">
    <description>Manage disks and mount points</description>
    <message>Authentication is required to mount filesystems or edit /etc/fstab</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.disk.partition">
    <description>Partition a disk</description>
    <message>Authentication is required to repartition a disk (this erases it)</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.disk.mkfs">
    <description>Create a filesystem</description>
    <message>Authentication is required to create a filesystem (this erases the target)</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.disk.swap">
    <description>Configure swap space</description>
    <message>Authentication is required to create or enable swap space</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.disk.mounttarget">
    <description>Assemble an install target</description>
    <message>Authentication is required to mount an install target and write its fstab</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.datetime.manage">
    <description>Set the system clock</description>
    <message>Authentication is required to set the system date and time</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.gentoo.gest.firewall.manage">
    <description>Configure the firewall</description>
    <message>Authentication is required to change the nftables firewall ruleset</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
